# Syntax highlighting for the armips toolchain for use with MIPS assembly
# See https://github.com/Kingcom/armips for more information

scopeName: 'source.mips-support'
name: 'MIPS Assembly (ARMIPS)'
fileTypes: [
  'asm'
  's'
  'mips'
  'spim'
]
patterns: [
    # the basic MIPS instruction set
    {
        include: 'source.mips'
    }
    # armips directives
    {
        include: 'source.armips-toolchain'
    }
]

# start of repository
# repository:
